@-moz-document url-prefix() 
{ 
.profile-edite .input-edit i 
	{
		display: inline-block;
		vertical-align: 8px;
	}
.container-full-catalog .forma-input .icon-tag 
	{
		vertical-align: 9px;
	}
.sing-up .forma-input i:before
	{
		vertical-align: 9px;
	}	
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media screen and (-webkit-min-device-pixel-ratio:0)
{ 
.login-model form i 
	{
		vertical-align: -21px;
	}
.profile-edite .forma-input i:before
	{
		vertical-align: -10px;
	}
.del.delete-collection i:before
	{
		vertical-align: inherit;
	}
.container-full-catalog .forma-input .icon-tag 
	{
		vertical-align: -9px;
	}
	.sing-up .forma-input i:before
	{
		vertical-align: -9px;
	}	
}
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}