html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    //height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
   // padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}
.folder-img .folder-in
{
	box-shadow: none;
}
a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/*Drag and Drop*/
.dropzone:first-of-type
{
	margin-left: 0;
}
.dropzone{
    width: 31.4%;
    height: 204px;
	display: inline-block;
    border: 2px dashed #ccc;
    color: #ccc;
    line-height: 300px;
    text-align: center;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	line-height: 204px;
}

.dropzone.dragover{
    border-color: #000;
    color: #000;
}

.dropzone:hover{
   cursor: pointer;
}
.tab-content.drop{
	padding: 15px 0;
}
.promote.drop{
	margin-top: 23px;
	margin-bottom: 13px;
}
.editor{
	margin: 15px 0;
}
.tab-content.drop label,
.tab-content.drop input{
	margin-right: 15px;
}
.tab-content.drop input[type="text"]{
	background-color: #ffffff;
	box-shadow: 0px 1px 4px 0.00px rgba(0, 0, 0, 0.3);
	height: 21px;
	border-radius: 9px;
	width: 90%;
	border: none;
	padding-left: 38px;
	line-height: 21px;
}
.desc-drop
{
	display: block;
	margin-top: 15px;
}
.save_item
{

	background: #066;
	border:1px solid #066;
	box-shadow: 0px 1px 4px 0.00px rgba(0, 0, 0, 0.3);
	color: #fff;
	width: 150px;
	height: 40px;
	float: right;
}
.tariff-plan_block div.work img
{
	box-shadow: 0px 1px 4px 0.00px rgba(0, 0, 0, 0.3);
}
hr
{
	margin: 0;
}
.modal-dialog
{
	width: 800px;
}
.short_description
{
	display: block;
	width: 100%;
	height: 150px;
	margin-top: 10px;
	box-shadow: 0px 1px 4px 0.00px rgba(0, 0, 0, 0.3);
	border: 1px solid #ddd;
	padding: 10px;
}
.input_item_title
{
	margin-bottom: 10px; 
	margin-top: 10px;
}
/*
.portfolio-item:nth-of-type(3n+1)
{
	margin-left: 0;
}
*/
.modal-body 
{
    padding: 15px;
    height: 345px;
    overflow: auto;
}
.tariff-plan_block 
{
    display: inline-block;
    margin-top: 40px;
    width: 100%;
}
.tariff-plan_block div.work 
{
    display: inline-block;
}
.tariff-plan_block div.work:nth-child(1),
.tariff-plan_block div.work:nth-child(3n+1)
{
	margin-left: 0;
}
.tariff-plan_block div.work
{
	margin-left: 15px;
}

.tariff-plan_block div.work img
{
	width: 100%;
}
.tab-content.drop input[type="text"] 
{
    width: 85%;
    float: right;
}
.tab-pane.active label   
{
    margin-top: 9px;
}
