/* line 2, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.left-sidebar + .col-lg-7 {
  margin-left: 292.5px; }

/* line 7, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.catalog-box {
  margin-top: 10px; }

/* line 12, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.profil-img {
  display: inline-block;
  width: 32.3%;
  margin: 5px 2px; }

/* line 18, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.catalog-item {
  margin-right: 0;
  margin-left: 15px;
  width: 48.5%; }
  /* line 24, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.catalog-item
img {
    height: 100%;
    width: 100%; }

/* line 39, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.reviews-comment
.my-content-messages
p {
  color: #666666; }

/* line 49, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.showrooms
.catalog-box
.catalog-item {
  background: #066;
  color: #fff;
  overflow: hidden;
  position: relative; }
  /* line 64, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.showrooms
.catalog-box
.catalog-item
a {
    display: block;
    width: 100%; }
  /* line 69, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.showrooms
.catalog-box
.catalog-item
.town {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    color: #666; }
  /* line 79, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.showrooms
.catalog-box
.catalog-item
.catalog-img-box {
    height: 194px; }
  /* line 83, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.showrooms
.catalog-box
.catalog-item
.catalog-caption p {
    margin-top: 0; }

/* line 89, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.showrooms
.hashtag {
  margin-bottom: 10px; }

/* line 94, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.agents {
  padding: 0 15px;
  display: inline-block;
  width: 430px; }
  /* line 100, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.agents
.logos {
    border: 4px solid #066;
    box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    overflow: hidden;
    width: 191px;
    height: 95px;
    display: inline-block;
    vertical-align: top; }
  /* line 111, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.agents
.agent {
    box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    overflow: hidden;
    width: 191px;
    height: 95px;
    display: inline-block;
    background: #fff;
    vertical-align: top;
    margin-left: 13px; }
    /* line 124, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.agents
.agent
img.photo {
      border-radius: 50%;
      border: 2px solid #066;
      width: 32px;
      height: 32px;
      display: table;
      margin: 5px auto; }
    /* line 133, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.agents
.agent
h5.name {
      font-family: Roboto;
      font-size: 20px;
      line-height: 18px;
      color: #333;
      font-weight: 400;
      text-align: center;
      position: relative;
      padding-bottom: 10px;
      margin: 5px auto 0; }
      /* line 145, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
      .profile-agent
.agents
.agent
h5.name:before {
        width: 46px;
        height: 2px;
        background: #066;
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -23px; }
    /* line 157, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.agents
.agent
p {
      font-family: Roboto;
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      color: #333;
      text-align: center; }
  /* line 167, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.agents
.description {
    box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.4);
    width: 397px;
    background: #fff;
    border-radius: 5px;
    margin-top: 15px !important; }
    /* line 176, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.agents
.description
ul {
      padding-left: 0; }
      /* line 179, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
      .profile-agent
.agents
.description
ul
li {
        width: 40%;
        display: inline-block;
        margin-top: 12px;
        position: relative;
        padding-left: 40px;
        padding-right: 20px;
        vertical-align: top; }
        /* line 190, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
        .profile-agent
.agents
.description
ul
li:nth-of-type(2n) {
          width: 59%; }
        /* line 194, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
        .profile-agent
.agents
.description
ul
li
a {
          font-family: Roboto;
          line-height: 18px;
          font-weight: 300;
          font-size: 11px;
          color: #666; }
          /* line 202, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
          .profile-agent
.agents
.description
ul
li
a
i:before {
            font-size: 20px;
            vertical-align: middle;
            color: #066;
            position: absolute;
            left: 0; }
          /* line 212, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
          .profile-agent
.agents
.description
ul
li
a
i {
            margin-right: 0; }
  /* line 220, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.agents
.soc {
    margin-top: 15px;
    padding-left: 0;
    text-align: center; }
    /* line 226, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.agents
.soc
li {
      display: inline-block; }
      /* line 230, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
      .profile-agent
.agents
.soc
li
i:before {
        color: #fff;
        font-size: 18px;
        background: #066;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.4);
        text-align: center;
        line-height: 30px; }
      /* line 242, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
      .profile-agent
.agents
.soc
li
i {
        margin-right: 10px; }

/* line 250, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.agent-profil {
  padding-top: 10px;
  background-size: cover;
  padding-bottom: 20px; }
  /* line 256, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.agent-profil + .promote {
    padding-left: 10px; }

/* line 261, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.content {
  padding: 0 15px; }

/* line 265, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.agent-text {
  float: right;
  width: calc(100% - 445px);
  background: #fff;
  border-radius: 5px;
  margin-right: 15px;
  position: relative; }
  /* line 275, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.agent-text
p {
    font-size: 14px;
    line-height: 18px;
    font-family: Roboto;
    color: #333;
    font-weight: 300;
    padding: 36px 15px 20px;
    position: relative; }
    /* line 285, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.agent-text
p:before,
    .profile-agent
.agent-text
p:after {
      font-size: 28px;
      color: #066;
      position: absolute;
      content: '\0052';
      font-family: 'ico';
      top: 10px;
      left: 10px;
      width: 30px;
      height: 30px; }
    /* line 297, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.agent-text
p:after {
      bottom: 0px;
      right: 10px;
      top: inherit;
      left: inherit; }
  /* line 308, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.agent-text
.forma-input input.text-input + label,
  .profile-agent
.agent-text
.forma-input
input {
    padding-left: 10px; }
  /* line 312, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.agent-text
.forma-input
textarea {
    box-shadow: none; }

/* line 320, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.consultant
.profile-edite {
  width: 104px !important; }
  /* line 326, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.consultant
.profile-edite
.profil-photo
img {
    width: 70px;
    height: 70px;
    border: 3px solid #066;
    margin-top: 0; }

/* line 337, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.consultant
.forma-input {
  width: calc(100% - 109px);
  display: inline-block;
  vertical-align: middle; }
  /* line 343, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.consultant
.forma-input
.input-edit {
    width: calc(100% / 3.04);
    display: inline-block; }
    /* line 348, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.consultant
.forma-input
.input-edit
i:before {
      font-size: 27px;
      color: #cacaca;
      margin-left: 0 !important;
      vertical-align: bottom; }
    /* line 355, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.consultant
.forma-input
.input-edit
.input-container {
      width: 65% !important;
      margin: 10px 0 0 0px !important; }
    /* line 361, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.consultant
.forma-input
.input-edit:nth-of-type(4) {
      width: 42%; }
      /* line 365, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
      .profile-agent
.consultant
.forma-input
.input-edit:nth-of-type(4)
.input-container {
        width: 100% !important; }
  /* line 372, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.consultant
.forma-input
div.radio-button {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px; }
    /* line 377, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.consultant
.forma-input
div.radio-button
label {
      font-weight: 300;
      font-size: 14px;
      font-family: Roboto;
      color: #333; }
    /* line 385, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.consultant
.forma-input
div.radio-button
p {
      font: 300 13px/18px Roboto;
      color: #999;
      margin-bottom: 0; }
  /* line 392, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.consultant
.forma-input + .sline {
    width: 95%;
    margin: 20px auto 10px; }

/* line 398, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.consultant
.button {
  border: none;
  background: #066;
  color: #fff;
  border-radius: 5px;
  width: 97px;
  height: 30px;
  vertical-align: bottom;
  margin-left: 15px; }

/* line 411, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.mesages {
  box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 5px;
  padding-left: 0;
  padding-bottom: 10px;
  width: 95.8%;
  margin: 10px auto; }
  /* line 421, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.mesages
li {
    list-style: none;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px; }
    /* line 430, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.mesages
li
.checkbox {
      float: left;
      height: 23px;
      margin-top: 5px; }
    /* line 437, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.mesages
li [type="checkbox"]:not(:checked) + label::before,
    .profile-agent
.mesages
li
[type="checkbox"]:checked + label::before {
      border-radius: 3px; }
    /* line 442, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.mesages
li [type="checkbox"]:not(:checked) + label::after,
    .profile-agent
.mesages
li
[type="checkbox"]:checked + label::after {
      border-radius: 3px;
      background: none; }
    /* line 448, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.mesages
li [type="checkbox"]:not(:checked) + label::before,
    .profile-agent
.mesages
li
[type="checkbox"]:checked + label::before {
      color: #fff; }
    /* line 453, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.mesages
li
[type="checkbox"]:checked + label::after {
      color: #ccc;
      padding-right: 0px;
      padding-top: 1px; }
    /* line 471, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.mesages
li
img {
      width: 32px;
      height: 32px;
      border: 2px solid #066;
      border-radius: 50%;
      margin-right: 10px; }
    /* line 479, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.mesages
li
a {
      font-size: 16px;
      font-family: Roboto;
      color: #333;
      font-weight: 300; }
    /* line 486, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.mesages
li
span {
      font-size: 14px;
      color: #999; }
    /* line 491, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.mesages
li
i {
      margin-right: 0;
      float: right;
      font-size: 14px;
      line-height: 18px;
      color: #333;
      font-weight: 300;
      font-style: normal; }
      /* line 501, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
      .profile-agent
.mesages
li
i:before {
        color: #fff;
        font-size: 18px;
        background: #066;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.4);
        text-align: center;
        line-height: 30px;
        vertical-align: middle;
        margin-right: 15px; }

/* line 521, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.mesages + .video {
  text-align: center;
  padding: 10px 0 15px; }
  /* line 526, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.mesages + .video
iframe {
    width: 466px;
    height: 260px;
    margin: 0 auto;
    display: table; }

/* line 534, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.promote-bottom {
  margin-top: 13px; }

/* line 538, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
p.upload-portfolio.download-portfolio.edit {
  margin-right: 15px; }

/* line 544, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.portfolio-top
h5 {
  position: relative;
  width: 26%; }

/* line 549, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.portfolio-top
h5 .upload-portfolio.edit {
  position: absolute;
  right: 0;
  top: 0; }

/* line 558, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.analytics
.last-days {
  float: right;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 300;
  color: #999;
  margin-top: 23px; }

/* line 567, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.analytics
.promote {
  margin-top: 22px !important; }

/* line 571, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.analytics
.graphic {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 15px;
  overflow: hidden; }
  /* line 579, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.analytics
.graphic
p {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display: inline-block;
    text-align: center;
    position: absolute;
    left: -70px;
    bottom: 0px;
    top: 52px;
    height: 50px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 27px;
    color: #666;
    font-weight: 400;
    width: 100%; }
  /* line 597, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.analytics
.graphic
img {
    padding-left: 83px; }

/* line 604, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.analytics
ul {
  display: inline-block;
  width: calc(100% - 253px);
  vertical-align: middle;
  padding-left: 30px;
  margin-top: -5px; }
  /* line 612, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.analytics
ul
li {
    list-style: none;
    width: 49.5%;
    display: inline-block;
    font: 300 14px/27px Roboto; }
    /* line 619, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.analytics
ul
li:nth-child(2n) {
      padding-left: 20px; }
      /* line 622, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
      .profile-agent
.analytics
ul
li:nth-child(2n)
span {
        padding-right: 0; }
    /* line 628, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.analytics
ul
li
span {
      float: right;
      padding-right: 20px; }
    /* line 633, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.analytics
ul
li
i {
      width: 15px;
      height: 15px;
      display: inline-block;
      border-radius: 5px;
      vertical-align: middle; }
    /* line 641, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.analytics
ul
li.Guests i {
      background-color: #cbe4e4; }
    /* line 645, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.analytics
ul
li.Agent i {
      background-color: #339999; }
    /* line 649, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.analytics
ul
li.Homeowner i {
      background-color: #99cccc; }
    /* line 653, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.analytics
ul
li.Manufacturer i {
      background: #2F9292; }
    /* line 657, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.analytics
ul
li.Designers i {
      background: #006666; }
    /* line 661, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.analytics
ul
li.Pros i {
      background: #268686; }

/* line 667, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.analytics
a.button {
  width: 178px;
  height: 30px;
  background-color: #3a6666;
  border-radius: 5px;
  float: right;
  text-align: center;
  color: #fff;
  line-height: 30px;
  position: relative;
  top: -40px; }

/* line 681, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.more-info {
  clear: both;
  padding: 0 30px;
  display: none;
  overflow: hidden; }
  /* line 689, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.more-info
.graphics {
    width: calc(100% / 2);
    float: left;
    vertical-align: top;
    padding: 0 25px; }
  /* line 696, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.more-info
.chart {
    margin-left: 0;
    display: inline-block;
    vertical-align: middle; }
  /* line 702, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.more-info
ul {
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px; }
    /* line 708, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.more-info
ul
li {
      list-style: none; }
      /* line 711, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
      .profile-agent
.more-info
ul
li
i {
        width: 15px;
        height: 15px;
        display: inline-block;
        border-radius: 5px;
        vertical-align: middle; }
  /* line 722, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.more-info
p {
    text-align: center;
    font: 400 14px/27px Roboto;
    margin-bottom: 0; }
  /* line 728, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.more-info
.graphics-bottom {
    padding-top: 40px;
    overflow: hidden;
    display: block;
    clear: both; }
  /* line 735, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.more-info
h5 {
    text-align: center;
    text-transform: uppercase;
    font: 300 14px/27px Roboto;
    margin-top: 40px;
    color: #999; }

/* line 744, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
button.submit {
  position: absolute;
  width: 30px;
  height: 30px;
  border: none;
  top: 0;
  background: url(../images/search-2.png) no-repeat; }

/* line 753, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.input-container {
  width: 100% !important; }
  /* line 758, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.input-container input.text-input + label,
  .profile-agent
.input-container
input {
    padding-left: 40px; }

/* line 763, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.promote + h4 {
  font: 400 16px/20px Roboto;
  margin-bottom: 5px; }

/* line 768, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.name-folder {
  margin-top: 15px;
  width: calc(100% / 2.07); }
  /* line 773, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.name-folder:nth-of-type(2n) {
    margin-left: 15px; }

/* line 778, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.icon-home {
  display: inline-block;
  vertical-align: bottom;
  height: 27px; }
  /* line 784, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.icon-home:before {
    font-size: 27px; }

/* line 790, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.selects {
  position: relative;
  width: 335px;
  margin-bottom: 10px;
  display: inline-block; }
  /* line 797, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.selects
select {
    border: none;
    border-bottom: 1px solid #ccc;
    width: 85%;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    -ms-appearance: none;
    appearance: none !important;
    padding-left: 10px;
    font-size: 14px;
    color: #666;
    font-weight: 300;
    font-family: Roboto;
    line-height: 35px;
    height: 35px;
    display: inline-block; }
    /* line 817, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.selects
select::-ms-expand {
      display: none; }
    /* line 821, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent
.selects
select:focus {
      outline: none; }
  /* line 826, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.selects:after {
    content: '';
    position: absolute;
    right: 15px;
    top: 17px;
    border: 5px solid transparent;
    border-top: 5px solid #ccc; }
  /* line 836, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.selects + .hashtag {
    display: inline-block; }

/* line 843, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.mesages.comp
i {
  float: initial; }
  /* line 847, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent
.mesages.comp
i:before {
    margin-right: 0;
    margin-left: 35px; }

/* line 853, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.mesages.comp
b {
  float: right;
  vertical-align: middle;
  font: 300 13px/30px Roboto;
  color: #066; }

/* line 860, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.mesages.comp
.input-container {
  width: 85% !important;
  margin: 10px 0 0 65px; }

/* line 866, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent
.mesages.comp .input-container input.text-input + label,
.profile-agent
.mesages.comp
.input-container input {
  padding-left: 10px; }

/* line 876, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.agent-modal-product
.modal-dialog
,
.agent-modal-product-new
.modal-dialog {
  width: 660px; }

/* line 880, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.agent-modal-product
.modal-content
,
.agent-modal-product-new
.modal-content {
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  width: 660px; }
  /* line 887, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .agent-modal-product
.modal-content
h5.title
,
  .agent-modal-product-new
.modal-content
h5.title {
    font-size: 18px;
    font-family: Ubuntu;
    font-weight: 400;
    color: #666;
    text-align: center;
    margin-top: 10px; }
  /* line 896, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .agent-modal-product
.modal-content
p.mini-title
,
  .agent-modal-product-new
.modal-content
p.mini-title {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    font-family: Roboto;
    color: #666;
    margin-top: 7px;
    margin-bottom: 0;
    line-height: 14px; }
  /* line 907, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .agent-modal-product
.modal-content
.input-container
,
  .agent-modal-product-new
.modal-content
.input-container {
    margin-top: 0;
    width: 100%; }
    /* line 912, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .agent-modal-product
.modal-content
.input-container
label
,
    .agent-modal-product-new
.modal-content
.input-container
label {
      text-transform: uppercase;
      font-style: normal;
      color: #666; }
  /* line 919, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .agent-modal-product
.modal-content
.forma-input
,
  .agent-modal-product-new
.modal-content
.forma-input {
    width: 230px;
    display: inline-block;
    vertical-align: bottom; }
  /* line 925, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .agent-modal-product
.modal-content
.selects
,
  .agent-modal-product-new
.modal-content
.selects {
    position: relative;
    width: 100%;
    margin-bottom: 10px; }
    /* line 931, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .agent-modal-product
.modal-content
.selects
select
,
    .agent-modal-product-new
.modal-content
.selects
select {
      border: none;
      border-bottom: 1px solid #ccc;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
      -ms-appearance: none;
      appearance: none !important;
      padding-left: 10px;
      font-size: 14px;
      color: #666;
      font-weight: 300;
      font-family: Roboto;
      line-height: 35px;
      height: 35px; }
      /* line 950, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
      .agent-modal-product
.modal-content
.selects
select
::-ms-expand
,
      .agent-modal-product-new
.modal-content
.selects
select::-ms-expand {
        display: none; }
      /* line 954, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
      .agent-modal-product
.modal-content
.selects
select
:focus
,
      .agent-modal-product-new
.modal-content
.selects
select:focus {
        outline: none; }
    /* line 959, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .agent-modal-product
.modal-content
.selects
:after
,
    .agent-modal-product-new
.modal-content
.selects:after {
      content: '';
      position: absolute;
      right: 5px;
      top: 17px;
      border: 5px solid transparent;
      border-top: 5px solid #ccc; }
  /* line 970, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .agent-modal-product
.modal-content
.button
,
  .agent-modal-product-new
.modal-content
.button {
    background-color: #3a6666;
    border-radius: 5px;
    width: 177px;
    height: 30px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    color: #fff !important;
    border: none;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
    display: table; }
  /* line 987, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .agent-modal-product
.modal-content
.add-company
,
  .agent-modal-product-new
.modal-content
.add-company {
    overflow: hidden;
    width: calc(100% - 245px);
    display: inline-block;
    float: right; }
    /* line 994, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .agent-modal-product
.modal-content
.add-company
p
,
    .agent-modal-product-new
.modal-content
.add-company
p {
      font-family: Roboto;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      color: #ccc;
      margin-top: 53px; }
    /* line 1003, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .agent-modal-product
.modal-content
.add-company
.upload-portfolio
,
    .agent-modal-product-new
.modal-content
.add-company
.upload-portfolio {
      font-size: 14px;
      font-weight: 400;
      color: #666;
      margin-top: 5px; }
  /* line 1011, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .agent-modal-product
.modal-content
.google-search
,
  .agent-modal-product-new
.modal-content
.google-search {
    margin-bottom: 35px; }
    /* line 1015, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .agent-modal-product
.modal-content
.google-search
input
,
    .agent-modal-product-new
.modal-content
.google-search
input {
      width: 90%;
      margin: 0 auto;
      display: table;
      border: 1px solid #ccc;
      height: 35px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 5px; }
  /* line 1027, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .agent-modal-product
.modal-content
.product
,
  .agent-modal-product-new
.modal-content
.product {
    width: 175px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin-left: 9px;
    margin-top: 20px; }
    /* line 1038, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .agent-modal-product
.modal-content
.product
img
,
    .agent-modal-product-new
.modal-content
.product
img {
      width: 100%; }
    /* line 1042, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .agent-modal-product
.modal-content
.product
p
,
    .agent-modal-product-new
.modal-content
.product
p {
      margin-top: 5px;
      text-align: left;
      margin-left: 10px;
      font-size: 14px;
      font-family: Roboto;
      font-weight: 300;
      color: #666; }
  /* line 1053, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .agent-modal-product
.modal-content
.no-object
,
  .agent-modal-product-new
.modal-content
.no-object {
    min-height: 144px; }
  /* line 1057, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .agent-modal-product
.modal-content
.object-add
,
  .agent-modal-product-new
.modal-content
.object-add {
    display: inline-block; }
    /* line 1060, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .agent-modal-product
.modal-content
.object-add
img
,
    .agent-modal-product-new
.modal-content
.object-add
img {
      width: 100%;
      height: auto;
      width: 114px;
      margin-right: 10px;
      border-radius: 5px;
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3); }
      /* line 1069, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
      .agent-modal-product
.modal-content
.object-add
img
:last-of-type
,
      .agent-modal-product-new
.modal-content
.object-add
img:last-of-type {
        margin-right: 14px; }
    /* line 1074, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .agent-modal-product
.modal-content
.object-add
ul
,
    .agent-modal-product-new
.modal-content
.object-add
ul {
      padding-left: 20px;
      margin-top: 25px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 2px;
      margin-right: 14px;
      margin-bottom: 10px; }
      /* line 1083, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
      .agent-modal-product
.modal-content
.object-add
ul
li
,
      .agent-modal-product-new
.modal-content
.object-add
ul
li {
        display: inline-block; }
        /* line 1087, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
        .agent-modal-product
.modal-content
.object-add
ul
li
a
,
        .agent-modal-product-new
.modal-content
.object-add
ul
li
a {
          font-size: 13px;
          font-family: Roboto;
          color: #666;
          font-weight: 400; }
          /* line 1094, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
          .agent-modal-product
.modal-content
.object-add
ul
li
a
:before
,
          .agent-modal-product-new
.modal-content
.object-add
ul
li
a:before {
            content: '#'; }
  /* line 1102, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .agent-modal-product
.modal-content
textarea
,
  .agent-modal-product-new
.modal-content
textarea {
    width: 100%;
    height: 105px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
    border: 1px solid #ccc;
    padding: 15px 25px; }
    /* line 1112, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .agent-modal-product
.modal-content
textarea
+ .button
,
    .agent-modal-product-new
.modal-content
textarea + .button {
      float: right;
      margin-top: 10px;
      margin-bottom: 15px; }
  /* line 1119, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .agent-modal-product
.modal-content
.open-create-product
,
  .agent-modal-product-new
.modal-content
.open-create-product {
    display: none; }

/* line 1129, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps.agents
.search {
  width: calc(100% - 300px) !important; }

/* line 1133, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps.agents
.selects {
  width: 275px; }

/* line 1138, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps.col-lg-12.agents .company {
  width: calc(100% / 3.09); }

/* line 1142, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps
.profile-conten-me {
  border-top: none; }

/* line 1146, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps
.promote-bottom {
  margin-top: 12px; }

/* line 1150, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps
.search {
  width: calc(100% - 406px) !important;
  display: inline-block;
  vertical-align: top;
  margin-top: -4px; }

/* line 1157, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps
.input-container {
  width: 100% !important;
  display: inline-block;
  vertical-align: top;
  margin-top: -4px; }
  /* line 1164, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps
.input-container
.text-input {
    padding: 13px 0px !important; }

/* line 1169, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps
.selects {
  position: relative;
  width: 178px;
  margin-bottom: 18px;
  margin-left: 20px;
  vertical-align: top; }
  /* line 1177, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps
.selects
select {
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    -ms-appearance: none;
    appearance: none !important;
    padding-left: 10px;
    font-size: 14px;
    color: #999;
    font-weight: 300;
    font-family: Roboto;
    line-height: 35px;
    background: #FDFDFD;
    height: 36px; }
    /* line 1197, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent-comps
.selects
select::-ms-expand {
      display: none; }
    /* line 1201, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent-comps
.selects
select:focus {
      outline: none; }
  /* line 1206, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps
.selects:after {
    content: '';
    position: absolute;
    right: 5px;
    top: 17px;
    border: 5px solid transparent;
    border-top: 5px solid #ccc; }

/* line 1216, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps
.company {
  width: calc(100% / 3.12);
  background: url(../images/bg-company.png) no-repeat;
  height: 330px;
  display: inline-block;
  background-size: cover;
  margin-bottom: 15px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
  margin-right: 12px;
  vertical-align: top; }
  /* line 1230, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps
.company.agents {
    height: 265px; }
    /* line 1234, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent-comps
.company.agents.pf-new {
      height: 370px !important; }
    /* line 1238, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent-comps
.company.agents
.company-img {
      width: 110px;
      height: 110px;
      border-radius: 50%; }
    /* line 1246, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent-comps
.company.agents
.author
img {
      width: 80px;
      height: 45px;
      border-radius: 3px;
      border-width: 2px; }
    /* line 1258, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent-comps
.company.agents
.description
li:nth-child(1) {
      width: 51.3%; }
    /* line 1262, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent-comps
.company.agents
.description
li:nth-child(2) {
      width: 47%; }
    /* line 1270, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent-comps
.company.agents
.promote {
      color: #066;
      padding-left: 0;
      margin-top: 5px; }
    /* line 1276, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent-comps
.company.agents
.edit {
      margin-top: -10px;
      margin-bottom: 11px; }
      /* line 1280, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
      .profile-agent-comps
.company.agents
.edit
a {
        margin-top: 0; }
  /* line 1287, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps
.company:nth-of-type(3n) {
    margin-right: 0; }
  /* line 1292, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps
.company
.company-img {
    width: 120px;
    height: 120px;
    border: 3px solid #066;
    border-radius: 3px;
    box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.4);
    display: inline-block;
    vertical-align: top; }
  /* line 1302, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps
.company
.name-company {
    display: inline-block;
    width: calc(100% - 124px);
    padding-left: 10px; }
    /* line 1308, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent-comps
.company
.name-company
h5 {
      font-family: Roboto;
      font-size: 16px;
      line-height: 27px;
      color: #333;
      font-weight: 400; }
    /* line 1317, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent-comps
.company
.name-company
p {
      font-size: 12px;
      line-height: 18px;
      font-weight: 300;
      font-family: Roboto;
      color: #333; }
    /* line 1327, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent-comps
.company
.name-company
span {
      display: block; }
  /* line 1332, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps
.company
.categories {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 10px; }
    /* line 1338, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent-comps
.company
.categories
li {
      display: inline-block; }
      /* line 1342, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
      .profile-agent-comps
.company
.categories
li
a {
        font-family: Roboto;
        font-size: 16px;
        line-height: 18px;
        color: #066; }
        /* line 1349, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
        .profile-agent-comps
.company
.categories
li
a:after {
          content: ','; }
      /* line 1357, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
      .profile-agent-comps
.company
.categories
li:first-child
a {
        color: #333;
        pointer-events: none; }
        /* line 1363, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
        .profile-agent-comps
.company
.categories
li:first-child
a:after {
          display: none; }
      /* line 1373, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
      .profile-agent-comps
.company
.categories
li:last-child
a:after {
        display: none; }
  /* line 1381, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps
.company
.description {
    display: block;
    width: 100%;
    padding-left: 0; }
    /* line 1387, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent-comps
.company
.description
li {
      display: inline-block;
      width: 49.3%;
      font-size: 16px;
      line-height: 30px;
      font-weight: 300;
      color: #333;
      vertical-align: top; }
      /* line 1397, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
      .profile-agent-comps
.company
.description
li:nth-child(2n) {
        padding-left: 15px; }
  /* line 1405, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps
.company
.author
img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
    border: 1px solid #066;
    display: inline-block;
    vertical-align: middle; }
  /* line 1415, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps
.company
.author
p.name {
    font-size: 16px;
    color: #333;
    font-weight: 300;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 10px; }

/* line 1432, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.company
.agent-text {
  width: 95.8%;
  margin: 10px auto;
  float: initial;
  display: table;
  padding: 10px; }
  /* line 1440, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company
.agent-text
ul {
    margin-left: 10px;
    margin-top: 10px; }
  /* line 1445, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company
.agent-text
p:after {
    bottom: -20px !important; }

/* line 1450, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.company
.agents {
  width: 100%; }
  /* line 1454, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company
.agents
.description {
    margin-top: 0; }
  /* line 1458, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company
.agents
.agent {
    height: 120px;
    margin-right: 15px;
    width: 236px;
    margin-left: 0; }
    /* line 1464, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .company
.agents
.agent
img.photo {
      margin: 15px auto 5px; }
  /* line 1469, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company
.agents
.company-description {
    background: #fff;
    border: 4px solid #066;
    box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    overflow: hidden;
    width: 73%;
    margin: 0 auto 15px;
    height: 105px; }
    /* line 1480, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .company
.agents
.company-description.role {
      line-height: 85px; }
      /* line 1484, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
      .company
.agents
.company-description.role
.descr {
        width: 300px;
        text-align: center;
        display: inline-block; }
      /* line 1490, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
      .company
.agents
.company-description.role
h4 {
        margin: 0;
        line-height: 18px;
        text-align: left; }
      /* line 1496, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
      .company
.agents
.company-description.role
a {
        margin-left: 16px; }
    /* line 1501, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .company
.agents
.company-description
.logos {
      border: none;
      box-shadow: none;
      display: inline-block;
      vertical-align: middle;
      width: 170px;
      height: 86px; }
    /* line 1510, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .company
.agents
.company-description
h4 {
      display: inline-block;
      color: #333333;
      font: 400 16px/18px Ubuntu;
      text-transform: uppercase;
      vertical-align: middle;
      margin-left: 10px; }
      /* line 1518, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
      .company
.agents
.company-description
h4
span {
        display: block;
        text-transform: none; }
      /* line 1523, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
      .company
.agents
.company-description
h4
b {
        color: #333333;
        font: 300 14px/18px Roboto;
        display: block;
        text-transform: none; }
    /* line 1532, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .company
.agents
.company-description
a {
      font: 400 13px/30px Roboto;
      color: #666; }
      /* line 1537, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
      .company
.agents
.company-description
a
i:before {
        color: #fff;
        font-size: 18px;
        background: #066;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.4);
        text-align: center;
        line-height: 30px;
        vertical-align: middle;
        margin-right: 0px;
        margin-left: 35px; }
  /* line 1554, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company
.agents
.edit {
    position: absolute;
    right: 0; }
  /* line 1559, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company
.agents
.view-buttons {
    display: inline-block;
    margin-left: 0;
    margin-top: 15px; }
  /* line 1565, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company
.agents
.soc {
    float: right; }

/* line 1572, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.company
.create-profile {
  width: calc(100% - 197px);
  background: #fff;
  display: inline-block;
  vertical-align: middle; }

/* line 1579, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.company
.categories {
  padding-left: 0;
  margin-bottom: 0; }
  /* line 1583, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company
.categories
li {
    display: inline-block; }
    /* line 1587, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .company
.categories
li
a {
      font-family: Roboto;
      font-size: 16px;
      line-height: 18px;
      color: #066; }
      /* line 1594, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
      .company
.categories
li
a:after {
        content: ','; }
    /* line 1602, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .company
.categories
li:first-child
a {
      color: #333;
      pointer-events: none; }
      /* line 1608, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
      .company
.categories
li:first-child
a:after {
        display: none; }
    /* line 1618, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .company
.categories
li:last-child
a:after {
      display: none; }

/* line 1626, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.company
.news {
  width: calc(100% / 3 - 22px);
  display: inline-block;
  position: relative;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0 12px 15px; }
  /* line 1636, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company
.news
img {
    width: 100%;
    height: auto; }
  /* line 1641, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company
.news
p {
    position: absolute;
    top: 50%;
    margin-bottom: 0;
    width: 100%;
    background: #fff;
    line-height: 30px;
    text-align: center;
    margin-top: -15px; }

/* line 1655, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.company
.agent-text
textarea {
  width: 85%;
  height: 60px;
  border: none;
  margin: 10px auto 0;
  display: table; }

/* line 1663, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.company
.agent-text
.textarea {
  position: relative; }
  /* line 1667, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company
.agent-text
.textarea:before,
  .company
.agent-text
.textarea:after {
    font-size: 28px;
    color: #cacaca;
    position: absolute;
    content: '\0052';
    font-family: 'ico';
    top: -10px;
    left: 0px;
    width: 30px;
    height: 30px; }
  /* line 1679, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company
.agent-text
.textarea:after {
    bottom: 0px;
    right: 0px;
    top: inherit;
    left: inherit; }
  /* line 1686, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company
.agent-text
.textarea
label {
    width: 100%;
    max-width: inherit; }

/* line 1693, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.company
.profile-video {
  margin-bottom: 15px;
  min-height: 181px;
  overflow: hidden;
  display: inline-block; }

/* line 1701, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.company
.video {
  width: 96%;
  display: table;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  overflow: hidden; }
  /* line 1712, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company
.video
iframe {
    margin-bottom: 0;
    border-radius: 5px; }
  /* line 1718, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company
.video
.forma-input {
    width: calc(100% - 335px);
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px; }
    /* line 1728, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .company
.video
.forma-input input.text-input + label,
    .company
.video
.forma-input
input {
      padding-left: 10px; }
  /* line 1733, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company
.video
ul {
    clear: both;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 20px; }
    /* line 1740, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .company
.video
ul
li {
      display: inline-block;
      margin-left: 10px; }
    /* line 1745, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .company
.video
ul
.button {
      width: 97px;
      height: 30px;
      line-height: 30px;
      background: #066;
      border-radius: 3px;
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.24);
      color: #fff;
      display: block;
      text-align: center; }

/* line 1759, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.company
.honours.security-info {
  padding: 0 10px 0 20px; }
  /* line 1763, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company
.honours.security-info
i:before {
    font-size: 27px;
    height: 27px;
    color: #cacaca;
    display: inline-block;
    vertical-align: middle; }
  /* line 1771, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company
.honours.security-info
.input-edit {
    width: 75% !important;
    display: inline-block;
    vertical-align: middle; }
    /* line 1777, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .company
.honours.security-info
.input-edit:last-of-type {
      margin-bottom: 0; }
  /* line 1783, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company
.honours.security-info input.text-input + label,
  .company
.honours.security-info
input {
    padding-left: 10px; }
  /* line 1787, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company
.honours.security-info
.icon-locked59 {
    vertical-align: inherit; }
  /* line 1791, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company
.honours.security-info
.input-container {
    width: 85% !important;
    vertical-align: middle; }
  /* line 1796, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company
.honours.security-info
.pass {
    margin-left: 60px; }
  /* line 1800, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company
.honours.security-info
ul {
    clear: both;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 20px; }
    /* line 1807, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .company
.honours.security-info
ul
li {
      display: inline-block;
      margin-left: 10px; }
    /* line 1812, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .company
.honours.security-info
ul
.button {
      width: 97px;
      height: 30px;
      line-height: 30px;
      background: #066;
      border-radius: 3px;
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.24);
      color: #fff;
      display: block;
      text-align: center; }

/* line 1826, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.company
.profile-video {
  padding-top: 5px; }

/* line 1833, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-project
.portfolio-item {
  margin-left: 12px;
  width: calc(100% / 3 - 18px);
  position: relative; }
  /* line 1839, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-project
.portfolio-item
img {
    height: 150px; }
  /* line 1843, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-project
.portfolio-item
.conferm {
    width: 90%;
    background: #066;
    border-radius: 5px;
    text-align: center;
    display: block;
    line-height: 30px;
    position: absolute;
    top: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    font-family: Roboto;
    left: 50%;
    margin-left: -45%; }

/* line 1861, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-project
.hashtag {
  margin-bottom: 20px; }

/* line 1865, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-project
.selects {
  float: right;
  width: 194px;
  margin-bottom: 0;
  margin-top: 5px; }
  /* line 1872, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-project
.selects
.icon-view {
    vertical-align: middle; }
    /* line 1876, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-project
.selects
.icon-view:before {
      font-size: 35px;
      color: #cacaca;
      vertical-align: inherit; }
  /* line 1883, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-project
.selects
select {
    width: 140px; }
  /* line 1887, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-project
.selects:after {
    bottom: 10px;
    top: initial; }
  /* line 1892, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-project
.selects
p {
    margin-bottom: 0;
    margin-left: 60px; }

/* line 1898, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-project
.promote-bottom {
  margin-top: 31px; }

/* line 1904, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-project
.project.fd
.promote {
  margin-bottom: 0;
  margin-top: 20px; }

/* line 1909, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-project
.project.fd
.forma-input {
  width: 464px;
  display: inline-block; }
  /* line 1914, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-project
.project.fd
.forma-input
.input-container input {
    padding-left: 10px; }
  /* line 1918, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-project
.project.fd
.forma-input
input.text-input + label {
    top: 5px;
    padding-left: 10px; }
  /* line 1923, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-project
.project.fd
.forma-input
.input-container {
    margin-top: 0; }

/* line 1928, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-project
.project.fd
.text-input.floating-label:focus ~ label {
  top: -10px; }

/* line 1932, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-project
.project.fd
.selects {
  top: -26px;
  position: relative; }

/* line 1940, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.portfolio-item {
  overflow: hidden; }

/* line 1944, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.chart {
  margin-left: 99px; }

/* line 1948, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.left-sitebar-video {
  text-align: center;
  margin-top: 28px; }

/* line 1953, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-content .icon-another_eye:before {
  position: relative;
  z-index: 1; }

/* line 1958, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.view-button {
  z-index: 0;
  padding: 3px 0px 3px 36px; }

/* line 1967, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.company.create
.company-description
.forma-input {
  display: inline-block;
  width: 300px;
  vertical-align: top;
  padding: 0 20px; }

/* line 1974, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.company.create
.company-description
.input-container {
  margin-top: 0;
  margin-bottom: 0; }
  /* line 1980, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company.create
.company-description
.input-container input.text-input + label,
  .company.create
.company-description
.input-container
input {
    padding-left: 10px; }

/* line 1987, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.company.create
.company-description
.input-edit:first-child label {
  text-transform: uppercase; }

/* line 1995, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.company.create
.company-description
.text-input.floating-label:focus ~ label {
  font-size: 0; }

/* line 2001, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.company.create
.create-profile {
  padding: 20px 25px 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.24); }
  /* line 2007, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company.create
.create-profile
.input-edit {
    width: 49.5%;
    display: inline-block; }
    /* line 2012, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .company.create
.create-profile
.input-edit.position {
      width: 100%; }
    /* line 2017, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .company.create
.create-profile
.input-edit
.input-container {
      width: 65% !important;
      vertical-align: bottom;
      margin-bottom: 0; }
    /* line 2023, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .company.create
.create-profile
.input-edit
i:before {
      font-size: 27px;
      color: #cacaca; }
    /* line 2029, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .company.create
.create-profile
.input-edit input.text-input + label,
    .company.create
.create-profile
.input-edit
input {
      padding-left: 10px; }
  /* line 2034, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company.create
.create-profile
.selects {
    width: 290px; }
    /* line 2038, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .company.create
.create-profile
.selects
p {
      margin-bottom: 0; }
    /* line 2042, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .company.create
.create-profile
.selects:after {
      bottom: 12px;
      top: inherit; }
    /* line 2047, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .company.create
.create-profile
.selects
select {
      width: 100%; }

/* line 2055, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.company.create
.profil-edited
i:before {
  font-size: 27px;
  height: 27px;
  color: #cacaca;
  display: inline-block;
  vertical-align: middle; }

/* line 2063, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.company.create
.profil-edited
.input-edit {
  width: 49.5%;
  display: inline-block;
  margin-bottom: 0;
  padding: 0 25px; }

/* line 2070, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.company.create
.profil-edited
.input-container {
  width: 80% !important;
  vertical-align: middle; }

/* line 2076, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.company.create
.profil-edited input.text-input + label,
.company.create
.profil-edited
input {
  padding-left: 10px; }

/* line 2080, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.company.create
.profil-edited
#form_main_information {
  padding: 0 15px; }
  /* line 2083, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company.create
.profil-edited
#form_main_information
.input-edit-top {
    padding: 5px 25px;
    width: 100%;
    margin-bottom: 15px; }

/* line 2092, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.company.create
.dropzone {
  height: 97px;
  margin-top: 0;
  line-height: 97px;
  width: 137px;
  border: none;
  border-right: 1px solid #066; }

/* line 2102, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.company.create
.profile-edite {
  display: inline-block;
  width: 192px;
  vertical-align: middle; }

/* line 2111, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.adt
.company {
  width: calc(100% / 2 - 10px);
  margin-right: 0;
  height: 300px; }
  /* line 2118, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .adt
.company:nth-of-type(2n) {
    margin-left: 15px; }

/* line 2123, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.adt
.mesages {
  box-shadow: none; }
  /* line 2127, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .adt
.mesages
ul {
    padding-left: 0; }
  /* line 2131, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .adt
.mesages
li {
    padding-left: 0;
    padding-right: 0; }
    /* line 2136, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .adt
.mesages
li:first-child {
      text-align: right;
      margin-bottom: 5px; }
      /* line 2140, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
      .adt
.mesages
li:first-child
a {
        float: none; }
      /* line 2145, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
      .adt
.mesages
li:first-child:before {
        display: none; }
    /* line 2152, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .adt
.mesages
li
i {
      float: left; }
      /* line 2156, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
      .adt
.mesages
li
i:before {
        background: none;
        color: #066;
        box-shadow: none;
        border-radius: none; }
    /* line 2164, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .adt
.mesages
li
b {
      float: right;
      width: 45%;
      display: inline-block; }
  /* line 2171, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .adt
.mesages
.button {
    background-color: #006666;
    border-radius: 3px;
    border: none;
    color: #fff;
    padding: 5px 10px;
    vertical-align: top;
    font-style: normal;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.24);
    float: right; }

/* line 2190, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps.archdes
.company.agents {
  width: calc(100% / 2 - 18px);
  margin: 0 0 15px 15px;
  height: 360px; }
  /* line 2196, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.archdes
.company.agents
.bg {
    background: rgba(255, 255, 255, 0.4);
    overflow: hidden;
    height: 100%;
    padding: 10px 10px 15px; }
  /* line 2204, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.archdes
.company.agents:nth-of-type(2n) {
    margin-left: 15px; }

/* line 2209, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps.archdes
.author {
  width: 95px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding-top: 10px; }
  /* line 2217, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.archdes
.author
img {
    width: 100% !important;
    height: 55px !important; }
  /* line 2223, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.archdes
.author
p.name {
    margin-left: 0;
    margin-top: 5px;
    line-height: 18px; }

/* line 2231, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps.archdes
.author-description {
  width: calc(100% - 100px);
  display: inline-block;
  vertical-align: top;
  padding-left: 20px; }
  /* line 2237, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.archdes
.author-description
.company-img {
    width: 75px;
    height: 75px;
    border-width: 2px; }
  /* line 2243, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.archdes
.author-description
.name-company {
    width: calc(100% - 79px); }
  /* line 2247, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.archdes
.author-description
h5 {
    line-height: 1; }
    /* line 2250, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent-comps.archdes
.author-description
h5
span {
      display: inline-block; }

/* line 2257, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps.archdes
.messages {
  background: #fff;
  width: 114px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  border-radius: 20px;
  text-align: right;
  padding-right: 12px;
  vertical-align: middle;
  font-size: 14px;
  font-family: Roboto;
  color: #333;
  font-weight: 300;
  margin-left: -25px; }
  /* line 2274, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.archdes
.messages
i:before {
    background-color: #066;
    border-radius: 50%;
    color: #fff;
    width: 30px;
    height: 30px;
    box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.4);
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: -2px; }

/* line 2290, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps.archdes
p.descriptions {
  font-size: 14px;
  font-family: Roboto;
  color: #333333;
  font-weight: 300;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative; }
  /* line 2300, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.archdes
p.descriptions:before {
    font-size: 28px;
    color: #066;
    position: absolute;
    content: '\0052';
    font-family: 'ico';
    top: -5px;
    left: 0px;
    width: 30px;
    height: 30px; }
  /* line 2312, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.archdes
p.descriptions:after {
    font-size: 28px;
    color: #066;
    position: absolute;
    content: '\0052';
    font-family: 'ico';
    width: 30px;
    height: 30px;
    bottom: -5px;
    right: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }

/* line 2328, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps.archdes .search,
.profile-agent-comps.archdes
.promote {
  padding-left: 15px; }

/* line 2332, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps.archdes
ul.description {
  width: 155px;
  display: inline-block; }
  /* line 2336, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.archdes
ul.description
li {
    width: auto !important;
    padding-left: 0 !important;
    line-height: 18px;
    padding-bottom: 20px; }
    /* line 2343, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent-comps.archdes
ul.description
li.new {
      padding-left: 20px !important; }
    /* line 2347, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent-comps.archdes
ul.description
li
span.dolor {
      font-family: Roboto;
      font-size: 24px;
      color: #006666;
      font-weight: 700; }

/* line 2356, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps.archdes
ul.buttons {
  display: inline-block;
  width: calc(100% - 255px);
  padding-left: 0;
  text-align: center; }
  /* line 2363, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.archdes
ul.buttons
li {
    list-style: none;
    text-align: center; }
    /* line 2367, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent-comps.archdes
ul.buttons
li
a {
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.24);
      width: 129px;
      height: 30px;
      display: table;
      margin: 0 auto 15px;
      background: #066;
      color: #fff;
      text-align: center;
      border-radius: 3px;
      line-height: 30px; }

/* line 2386, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps.promteaser
.company.agents {
  height: 390px; }

/* line 2390, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps.promteaser
.author-description {
  width: 80px;
  text-align: center;
  padding: 0;
  margin-left: 10px; }
  /* line 2397, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.promteaser
.author-description
.name-company {
    width: 100%;
    padding-left: 0;
    margin-top: 5px; }

/* line 2404, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps.promteaser
.city {
  display: inline-block;
  width: calc(100% - 192px);
  vertical-align: top; }
  /* line 2411, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.promteaser
.city
ul {
    padding-left: 0;
    display: inline-block;
    margin-bottom: 5px; }
  /* line 2418, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.promteaser
.city
li {
    list-style: none;
    font-size: 14px;
    font-family: Roboto;
    line-height: 1;
    color: #333;
    font-weight: 300;
    padding-bottom: 4px; }
  /* line 2428, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.promteaser
.city
p {
    font-size: 16px;
    font-family: Roboto;
    line-height: 20px;
    color: #333;
    font-weight: 300;
    margin-bottom: 5px; }
  /* line 2437, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.promteaser
.city
.showRooms {
    display: inline-block;
    float: right;
    width: 34px; }
  /* line 2443, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.promteaser
.city
.showRoom {
    display: block;
    vertical-align: top;
    font-size: 8px;
    font-family: Roboto;
    color: #000000;
    font-weight: 300;
    border-left: 1px solid #066;
    border-top: 1px solid #066;
    border-bottom: 1px solid #066;
    width: 33px;
    height: 19px;
    line-height: 1;
    padding-left: 2px;
    position: relative;
    float: right;
    margin-bottom: 5px; }
    /* line 2462, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent-comps.promteaser
.city
.showRoom:before {
      content: '';
      height: 1px;
      width: 13px;
      background: #066;
      position: absolute;
      right: -2px;
      top: 4px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    /* line 2474, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent-comps.promteaser
.city
.showRoom:after {
      content: '';
      height: 1px;
      width: 13px;
      background: #066;
      position: absolute;
      right: -2px;
      bottom: 4px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }

/* line 2488, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps.promteaser
p.descriptions {
  padding: 0; }
  /* line 2493, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.promteaser
p.descriptions:before,
  .profile-agent-comps.promteaser
p.descriptions:after {
    display: none; }

/* line 2498, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps.promteaser
ul.description {
  margin-top: 10px; }
  /* line 2501, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.promteaser
ul.description
li {
    padding-bottom: 0; }

/* line 2506, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps.promteaser
.categories.best {
  float: right;
  vertical-align: top;
  margin-top: 10px; }
  /* line 2511, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.promteaser
.categories.best
li {
    display: block;
    font-size: 16px;
    line-height: 18px;
    font-weight: 300; }

/* line 2520, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps.promteaser
.buttons {
  width: 50% !important; }

/* line 2524, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps.promteaser
.messages {
  float: right; }

/* line 2531, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps.promotional
.company.agents {
  min-height: 444px; }
  /* line 2537, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.promotional
.company.agents.edite
input {
    background-color: #fdfdfd;
    border-radius: 5px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
    border: none;
    width: 135px;
    height: 28px;
    padding-left: 10px;
    font-style: normal;
    color: #066; }
  /* line 2551, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.promotional
.company.agents.edite
.city
textarea {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
    width: 65px;
    height: 65px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    background-color: #fdfdfd; }
  /* line 2562, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.promotional
.company.agents.edite
textarea.description {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
    height: 60px;
    background-color: #fdfdfd;
    border-radius: 5px;
    width: 100%;
    border: none;
    margin-top: 5px;
    resize: none; }
  /* line 2577, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.promotional
.company.agents.edite
.categories
input {
    width: 218px; }
  /* line 2584, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.promotional
.company.agents.edite
.categories.best
textarea {
    border-radius: 5px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
    width: 102px;
    height: 80px;
    background-color: #fdfdfd;
    border-radius: 5px;
    border: none;
    padding: 5px; }
  /* line 2597, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.promotional
.company.agents.edite
.button {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
    width: 129px;
    height: 30px;
    float: right;
    text-align: center;
    background: #066;
    color: #fff;
    border-radius: 3px;
    line-height: 30px;
    margin-bottom: 10px; }
  /* line 2610, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.promotional
.company.agents.edite
input + .button {
    margin-top: -10px; }
  /* line 2616, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.promotional
.company.agents
.checkbox {
    float: inherit;
    display: block;
    margin: 0; }
    /* line 2622, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent-comps.promotional
.company.agents
.checkbox
p {
      margin-bottom: 0; }
    /* line 2628, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent-comps.promotional
.company.agents
.checkbox [type="checkbox"]:not(:checked) + label::before,
    .profile-agent-comps.promotional
.company.agents
.checkbox
[type="checkbox"]:checked + label::before {
      border-radius: 3px; }
    /* line 2633, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent-comps.promotional
.company.agents
.checkbox [type="checkbox"]:not(:checked) + label::after,
    .profile-agent-comps.promotional
.company.agents
.checkbox
[type="checkbox"]:checked + label::after {
      border-radius: 3px;
      background: none; }
    /* line 2639, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent-comps.promotional
.company.agents
.checkbox [type="checkbox"]:not(:checked) + label::before,
    .profile-agent-comps.promotional
.company.agents
.checkbox
[type="checkbox"]:checked + label::before {
      color: #fff; }
    /* line 2644, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent-comps.promotional
.company.agents
.checkbox
[type="checkbox"]:checked + label::after {
      color: #ccc;
      padding-right: 0px;
      padding-top: 1px; }

/* line 2652, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps.promotional
.checkbox-active {
  border: 2px solid #066; }

/* line 2657, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps.promotional
.agents {
  border-radius: 5px; }

/* line 2664, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps
.companys.cfrj
.buttons:first-of-type {
  width: 100% !important;
  margin-bottom: 0; }
  /* line 2669, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps
.companys.cfrj
.buttons:first-of-type
li {
    display: inline-block; }
    /* line 2673, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent-comps
.companys.cfrj
.buttons:first-of-type
li:nth-child(1) {
      margin-right: 5px; }
    /* line 2677, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent-comps
.companys.cfrj
.buttons:first-of-type
li:nth-child(2) {
      margin-left: 5px; }
  /* line 2682, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps
.companys.cfrj
.buttons:first-of-type
a {
    margin-bottom: 5px; }

/* line 2687, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps
.companys.cfrj
.company.agents {
  height: 425px; }

/* line 2697, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.header-slider {
  min-height: auto; }

/* line 2701, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.scrollSidebar .row {
  position: relative; }

@-moz-document url-prefix()
{
  /* line 2708, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .agent-modal-product .modal-content .object-add ul {
    margin-bottom: 15px; } }

/* line 2713, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.ui-autocomplete.ui-front.ui-menu.ui-widget {
  z-index: 10000; }

/* line 2716, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.catalog-box .catalog-item:nth-of-type(3n) {
  margin-right: 0 !important; }

/* line 2720, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.catalog-box .catalog-item {
  width: calc(100% / 3.05 - 6px) !important;
  margin-right: 7px !important; }

/* line 2724, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.col-lg-12.catalog-column .catalog-box .catalog-item {
  width: calc(100% / 3 - 9px) !important; }

/* line 2732, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.catalog-box
.products-area
.catalog-item {
  margin-left: 0px !important;
  margin-right: 7px; }
  /* line 2737, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .catalog-box
.products-area
.catalog-item:nth-of-type(3n) {
    margin-right: 0 !important; }

/* line 2745, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
#agent-all-projects {
  clear: both; }
  /* line 2748, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  #agent-all-projects
.portfolio-item {
    margin-left: 0;
    width: calc(100% / 3.05 - 5px);
    margin-right: 5px; }
    /* line 2754, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    #agent-all-projects
.portfolio-item:nth-of-type(3n) {
      margin-right: 0 !important; }

/* line 2762, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.comp-ord.page-catalog .name-folder:nth-of-type(2n) {
  margin-left: 17px; }

/* line 2767, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.project {
  padding: 0 15px; }

/* line 2771, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.project.fd {
  padding: 0; }

/* line 2778, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps.promteaser
.companys
.company.agents {
  padding: 0; }
  /* line 2782, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.promteaser
.companys
.company.agents
.main-block {
    height: 100%; }
    /* line 2786, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .profile-agent-comps.promteaser
.companys
.company.agents
.main-block
.bg.teaser-block {
      height: 100%; }
  /* line 2791, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .profile-agent-comps.promteaser
.companys
.company.agents
.edit {
    margin-top: -3px; }

/* line 2801, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.adt
.company {
  height: 320px !important; }

/* line 2806, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.page-catalog .catalog-box .catalog-item:nth-of-type(2n) {
  margin-right: 6px !important; }

/* line 2810, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.ui-autocomplete.ui-front.ui-menu.ui-widget {
  padding-left: 0;
  background: #fff;
  max-width: 604px !important;
  width: 604px !important; }
  /* line 2816, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .ui-autocomplete.ui-front.ui-menu.ui-widget
li {
    list-style: none;
    line-height: 30px;
    border: 1px solid #ccc;
    padding-left: 10px;
    border-bottom: none; }
    /* line 2824, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
    .ui-autocomplete.ui-front.ui-menu.ui-widget
li:last-of-type {
      border-bottom: 1px solid #ccc; }

/* line 2833, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.company
.news {
  height: 195px;
  background-position: center;
  background-size: cover; }

/* line 2840, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.company .agents .company-description .logos {
  height: 115px !important; }

/* line 2844, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent .agents .description.manufacturer-description {
  width: 369px;
  float: right;
  margin-top: 0 !important; }

/* line 2850, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.company .agents .soc.no-active {
  float: inherit !important; }
  /* line 2854, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .company .agents .soc.no-active
i:before {
    background: #ccc !important; }

/* line 2861, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.question.active {
  z-index: 1000; }
  /* line 2864, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
  .question.active
.forma-input {
    display: block; }

/* line 2870, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.profile-agent-comps .profile-conten-me {
  border-top: none;
  padding: 0 15px; }

/* line 2874, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
ul.category-menu li.pressed {
  padding-bottom: 15px; }

/* line 2878, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.container-style-catalog .clearfix + .forma-input {
  margin-top: 6px !important; }

/* line 2881, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.all-projects-catalog .catalog-item:nth-of-type(2n+1) {
  margin-right: 7px !important; }

/* line 2884, D:/ftp/hspace.alscon-clients.com/frontend/web/css/styles.scss */
.all-projects-catalog .catalog-item:nth-of-type(3n) {
  margin-right: 0px !important; }

/*# sourceMappingURL=styles.css.map */

.company.create .dropzone-disabled {
    margin-top: 0;
    height: 112px !important;
    line-height: 112px !important;
    width: 137px;
    border: none;
    border-right: 1px solid #066;
    text-align: center;
    display: inline-block;
}
